{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Welcome to your Dashboard, {{ current_user.username }}!</h1>
<body>
    
    <div class="container" style="background-color:rgb(200, 240, 200);font-size:20px">
        <h1>Today's Meal Plan</h1>
        <div class="meal">
            <h2>Meal 1</h2>
            <p>{{ meal1 }}</p>
        </div>
        <div class="meal">
            <h2>Meal 2</h2>
            <p>{{ meal2 }}</p>
        </div>
        <div class="meal">
            <h2>Meal 3</h2>
            <p>{{ meal3 }}</p>
        </div>
        <div class="explanation">
            <h2>Explanation</h2>
            <p>{{ explanation }}</p>
        </div>
    </div>
</body>
{% endblock %}

